.fondocarne {
background-color: rgb(255, 236, 151);
text-align: center;
}

.fondoverde {
background-color: rgb(148, 245, 38);
text-align: center;
}

.fondonaranja {
background-color: rgb(255, 172, 17);

}

.fondoazul {
background-color: rgb(33, 17, 255);
text-align: center;


}

span.sueño {
width: 190px;
display: block;
background-color:yellow ;
margin: 0 auto;

}